.navbar{
    background-color: rgb(240, 240, 240);
}
.navbar-brand {
    color: black;
}
.navbar-brand:hover {
    color: black;
}
.navbar-nav li a {
    color: black;
}
.navbar-nav li a:hover {
    color: rgb(235, 152, 0);
}
.navbar-toggler-icon {
    color: black;
}
.modeleProduit {
    padding: 15px 0px 0px 15px;
    border-bottom: 1px solid black;
}
.imgProduit{
    width: 30%;
    height: 30%;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.164);
}
.produitDescr {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 12px;
    padding: 15px 0px 0px 0px;
}

